.doneCards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.doneCards__name {
    margin: 0;
    max-width: 200px;
    border: 1px solid #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}