.card {
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 1px;
    position: relative;
}

.card:hover {
    background-color: #000000;
}

.card:hover p {
    color: rgba(255, 255, 255, 0.5);
  }

  .card:hover h2 {
    color: #FFFFFF;
  }

  .card:hover button {
    background-image: url(../../images/Strelka.svg);
  }

.card__container {
    padding: 40px 0 0 40px;
}


.card__executor {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
}

.card__name {
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    align-items: center;
    margin: 30px 0 0;
}

.card__creator {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.card__button {
    padding: 0;
    position: absolute;
    right: 25px;
    bottom: 50px;
    background-image: url(../../images/Next.svg);
    width: 54px;
    height: 26px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

.card__button:hover {
    opacity: 0.6;
    cursor: pointer;
}