.header {
    min-width: 1500px;
    margin: 25px 50px 0;
    display: flex;
}

.header__logo {
    width: 128px;
    height: 49px;
}

.header__button {
    min-width: 139px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0A0A0A;
    background-color: #FFFFFF;
    border: 1px solid #0A0A0A;
    padding: 0;
    margin: 0
}

.header__button:first-of-type {
    margin: 0 20px 0 1024px;
    background-color: #0A0A0A;
    color: #FFFFFF;
}

.header__button:hover {
    color: #FFFFFF;
    background-color: #0A0A0A;
    cursor: pointer;
}

.header__button:first-of-type:hover {
    color: #0A0A0A;
    background-color: #FFFFFF;
}

.header__navButton {
    margin: 0 20px 0 1140px;
    min-width: 200px;
    height: 49px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #0A0A0A;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding: 0;
}

.header__navButton:hover {
    color: #FFFFFF;
    background-color: #0A0A0A;
    cursor: pointer;
}