.footer {
    margin-top: 40px;
    min-width: calc(100% - 100px);
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.footer__copywright {
    padding-left: 50px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

.footer__year {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

.footer__logo {
    padding-right: 50px;
    width: 128px;
    height: 49px;
}