.activeCard {
    height: 920px;
    border: 1px solid rgba(0, 0, 0, 0.75);
    border-radius: 1px;
    position: relative;
}

.activeCard:hover {
    background-color: #000000;
}

.activeCard:hover p {
    color: rgba(255, 255, 255, 0.5);
}

.activeCard:hover h2 {
    color: #FFFFFF;
}

.activeCard__container {
    padding: 40px 0 0 40px;
}


.activeCard__executor {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
}

.activeCard__name {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    align-items: center;
    margin: 30px 0 0;
}

.activeCard__creator {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.activeCard__button {
    position: absolute;
    right: 50px;
    bottom: 50px;
    background-image: url(../../images/Strelka.svg);
    width: 67.47px;
    height: 33px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.activeCard__button:hover {
    opacity: 0.6;
}